# ignore everything
*

# except gitignore file itself
!.gitignore

# exept neovim folder and subfolders
!nvim
!nvim/**

# exept alacritty and subfolders
!alacritty
!alacritty/alacritty.yml

# except bspwm and subfolders
!bspwm
!bspwm/bspwmrc
!bspwm/autostart

#
!sxhkd
!sxhkd/sxhkdrc
!sxhkd/sxhkdrc-minimal

# polybar
!polybar
!polybar/config
!polybar/launch.sh
