# ignore everything
*

# except gitignore file itself
!.gitignore

# exept neovim folder and subfolders
!nvim
!nvim/**

# exept alacritty and subfolders
!alacritty
!alacritty/**

# except bspwm and subfolders
!bspwm
!bspwm/**
