# ignore everything
*

# except gitignore file itself
!.gitignore

# exept neovim folder and subfolders
!nvim
!nvim/**

# exept alacritty and subfolders
!alacritty/alacritty.yml

# except bspwm and subfolders
!bspwm/bspwmrc

# polybar
!polybar/config
!polybar/launch
